.formInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  align-items: center;
  & > label {
    font-size: large;
    font-weight: 400;
  }
  & > input {
    padding: 0.3rem;
    outline: 1px transparent transparent;
    border: none;
    border-bottom: 1px solid black;
    &:focus {
      border-bottom: 1px solid orangered;
      outline: none;
    }
  }
}
